.board-container {
    margin: 20px auto;
}

.tbody {
    width: 1300px;
}

.table {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 20px;
    border-collapse: 0;
    table-layout: fixed;
}

.table th,
.table td {
    padding: 10px 20px;
    text-align: center;
}


.table th {
    background-color: #f2f2f2;
}

.table td {
    border-bottom: 1px solid #c4c4c4;
}