.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-width: 700px;
    height: 50px;

    color: #eeeeee;
    background-color: #393E46;
    position: relative;
    transform: translateY(-100%);

    padding: 0 30px;
    box-sizing: border-box;
}

.relatedSite {
    display: flex;
    align-items: center;
    width: 150px;
    
    border: 1px solid #eeeeee;
    background-color: transparent;
    color: #eeeeee;
    font-size: 0.9rem;
    
    padding: 5px 10px;
}