.navbar {
    display: flex;
    align-items: center;
    
    height: 56px;
    background-color: #393E46;

    border: transparent;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;

    box-sizing: border-box;
    margin: 0 20px;
    padding: 0 20px;
    gap: 20px;
}